## Import libraries

In [21]:
import pandas as pd
import json
import itertools
from collections import Counter
import psycopg2
import pymongo
from sqlalchemy import create_engine

## 1. Extract

#### Kaggle API

In [2]:
# !pip install kaggle
import kaggle

In [ ]:
# Make sure you have created kaggle account and then generated API key
# Make sure the kaggle.json file is saved to the .kaggle folder of your user directory
# Use below code to check all files are available for download, if not are available, missing files must be manually downloaded
# !kaggle datasets files rsrishav/youtube-trending-video-dataset
!kaggle datasets download rsrishav/youtube-trending-video-dataset -f GB_youtube_trending_data.csv -p Dataset
!kaggle datasets download rsrishav/youtube-trending-video-dataset -f CA_youtube_trending_data.csv -p Dataset
!kaggle datasets download rsrishav/youtube-trending-video-dataset -f US_youtube_trending_data.csv -p Dataset

#### Dataset 1

In [5]:
# import file
US = pd.read_csv('Dataset/US_youtube_trending_data.csv.zip') 
GB = pd.read_csv('Dataset/GB_youtube_trending_data.csv.zip')
CA = pd.read_csv('Dataset/CA_youtube_trending_data.csv.zip')

US['country'] = 'US'
GB['country'] = 'GB'
CA['country'] = 'CA'
frames = [US, GB, CA]

#merge
df = pd.concat(frames).drop_duplicates()

In [6]:
df.to_csv('US_GB_CA_merged.csv')

#### Dataset 2

In [2]:
# load json file
with open("CA_category_id.json")as f:
    data = json.load(f)

NameError: name 'json' is not defined

### Transform

#### Get 'id' and 'title' from dictionary

In [17]:
from pprint import pprint
list_of_items = data['items']

In [18]:
d = []
for i in list_of_items :
    d.append(
        {
            'id' : i['id'],
            'title': i['snippet']['title']
        }
    )
 
pd.DataFrame(d)

    id                 title
0    1      Film & Animation
1    2      Autos & Vehicles
2   10                 Music
3   15        Pets & Animals
4   17                Sports
5   18          Short Movies
6   19       Travel & Events
7   20                Gaming
8   21         Videoblogging
9   22        People & Blogs
10  23                Comedy
11  24         Entertainment
12  25       News & Politics
13  26         Howto & Style
14  27             Education
15  28  Science & Technology
16  30                Movies
17  31       Anime/Animation
18  32      Action/Adventure
19  33              Classics
20  34                Comedy
21  35           Documentary
22  36                 Drama
23  37                Family
24  38               Foreign
25  39                Horror
26  40        Sci-Fi/Fantasy
27  41              Thriller
28  42                Shorts
29  43                 Shows
30  44              Trailers

In [19]:
df.to_csv('video_category.csv', index=False)

#### Data Cleaning

In [8]:
# Lowercase title and tags columns 
df['title'] = df['title'].str.lower()
df['tags'] = df['tags'].str.lower()
df['description'] = df['description'].str.lower()

In [9]:
# Splitting tag and title contents for easier parsing
df['title content'] = df['title'].str.split()
df['tag content'] = df['tags'].str.split("|")
df['description content'] = df['description'].str.split()

In [15]:
# Getting the total word count of video title (title length)
df['total count title'] = df['title'].str.split().str.len()

# Getting the total tag count of video tags (tag length)
df['total count tag'] = df['tags'].str.split("|").str.len()
df.head()

#Create total frequency count of individual tags 
df['tag content'].to_list()
utag_counts = dict(Counter(itertools.chain.from_iterable(df['tag content'].to_list())))

### Load

#### Connect to local database

In [28]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/ETL-youtube')

In [29]:
# confirm tables
engine.table_names()

<ipython-input-29-4ca97ddcba7b>:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['us_gb_ca']

In [ ]:
df.to_sql(name='youtube', con=engine, if_exists='replace', index=False)

In [ ]:
# Read the table data from SQL
pd.read_sql_query('select * from youtube', con=engine).head()